<div class="container">
    <div class="row form-group">
        <div class="col-sm-6">
            <h2>Cambiar password</h2>
        </div>
    </div>
    <form name="changePasswordForm" ng-submit="$ctrl.change()">
        <div class="row form-group">
            <div class="col-sm-6">
                <label for="currentPassword">Password actual</label>
                <input type="password" id="currentPassword" name="currentPassword" ng-model="$ctrl.currentPassword"
                       required class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <label for="password">Nueva Password</label>
                <input type="password" id="password" name="password" ng-model="$ctrl.password" required minlength="6"
                       maxlength="12" class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <label for="passwordRetry">Password actual</label>
                <input type="password" id="passwordRetry" name="passwordRetry" ng-model="$ctrl.passwordRetry" required
                       class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-primary">
                    <span class="fa fa-key"></span>
                    Cambiar password
                </button>
            </div>
        </div>
    </form>
</div>
