<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form ng-submit="$ctrl.recover()">
                <p>
                    <label for="username"></label>
                    <input type="text" id="username" name="username" ng-model="$ctrl.username" placeholder="Usuario"
                           required class="form-control">
                </p>
                <p>
                    <button type="submit" class="btn btn-large btn-primary">Recuperar password</button>
                </p>
            </form>
        </div>
    </div>
</div>
